In [ ]:
'''
Author: Ngawang Gurung
Date: 2024/07/24
'''

In [1]:
import pandas as pd
from datetime import datetime
import time
import random
import os
from dotenv import load_dotenv

# This project-specific libaries
from kafka import KafkaProducer

# Own Libraries
from helper import aes_encrypt, table_df

In [2]:
df = table_df('client_rw', 'fc_account_master')
df.head()

,account_number,customer_code,product,product_category,acc_open_date,acc_closed_date,active_flag
0,02XYZXYZ10015592101,KL0255921,SBA,SBPPS,1999-03-10,None,0
1,02XYZXYZ10015593701,KL0255937,SBA,SBPPS,1999-03-10,None,0
2,02XYZXYZ10015593801,KL0255938,SBA,SBPPS,1999-03-10,None,0
3,02XYZXYZ10015594801,KL0255948,SBA,SBANU,1999-03-22,None,0
4,02XYZXYZ10015597601,KL0255976,SBA,SBPPS,1999-04-22,None,0

In [3]:
load_dotenv()

SUPER_SECRET_KEY = os.getenv('SUPER_SECRET_KEY') # Super secret key (must be 16, 24, or 32 bytes long)
df['account_number'] = df['account_number'].apply(lambda x: aes_encrypt(x, SUPER_SECRET_KEY))
df.head()

,account_number,customer_code,product,product_category,acc_open_date,acc_closed_date,active_flag
0,+Y7DNNNCRLxa9tHiluVGkYY5B2W/n3ZpLplkJINLIdM=,KL0255921,SBA,SBPPS,1999-03-10,None,0
1,U7RRmweke5W8oVRNvaKXpZJPf6MTWIf+3pVCi/uDj3w=,KL0255937,SBA,SBPPS,1999-03-10,None,0
2,U7RRmweke5W8oVRNvaKXpW7opsj+z4fEE98TMsDU5ZQ=,KL0255938,SBA,SBPPS,1999-03-10,None,0
3,Khed5di6hfdejAOOBP6XBG7opsj+z4fEE98TMsDU5ZQ=,KL0255948,SBA,SBANU,1999-03-22,None,0
4,wt0lfnWsGTalCHEtZvy671U78SwdSDGmCdZQ2GwRpAw=,KL0255976,SBA,SBPPS,1999-04-22,None,0

In [4]:
KAFKA_TOPIC = "am"
KAFKA_BOOTSTRAP_SERVERS = "localhost:9092"

producer = KafkaProducer(bootstrap_servers = KAFKA_BOOTSTRAP_SERVERS, value_serializer = lambda x: x.encode('utf-8'))

In [5]:
df_list = df.to_dict(orient="records")

print("Kafka Producer Application Started ... ")

for message in df_list:
    message_data = ','.join(str(message[column]) for column in df.columns)
    print("Message Type:", type(message_data))
    print("Message:", message_data)
    producer.send(KAFKA_TOPIC, message_data)
    time.sleep(1)

print("Kafka Producer Application Completed.")

Kafka Producer Application Started ...
Message Type: <class 'str'>
Message: +Y7DNNNCRLxa9tHiluVGkYY5B2W/n3ZpLplkJINLIdM=,KL0255921,SBA,SBPPS,1999-03-10,None,0
Message Type: <class 'str'>
Message: U7RRmweke5W8oVRNvaKXpZJPf6MTWIf+3pVCi/uDj3w=,KL0255937,SBA,SBPPS,1999-03-10,None,0
Message Type: <class 'str'>
Message: U7RRmweke5W8oVRNvaKXpW7opsj+z4fEE98TMsDU5ZQ=,KL0255938,SBA,SBPPS,1999-03-10,None,0
Message Type: <class 'str'>
Message: Khed5di6hfdejAOOBP6XBG7opsj+z4fEE98TMsDU5ZQ=,KL0255948,SBA,SBANU,1999-03-22,None,0
Message Type: <class 'str'>
Message: wt0lfnWsGTalCHEtZvy671U78SwdSDGmCdZQ2GwRpAw=,KL0255976,SBA,SBPPS,1999-04-22,None,0
Message Type: <class 'str'>
Message: wt0lfnWsGTalCHEtZvy675JPf6MTWIf+3pVCi/uDj3w=,KL0255977,SBA,SBPPS,1999-04-22,None,0
Message Type: <class 'str'>
Message: wt0lfnWsGTalCHEtZvy6727opsj+z4fEE98TMsDU5ZQ=,KL0255978,SBA,SBPPS,1999-04-22,None,0
Message Type: <class 'str'>
Message: FtDcN60NxCHnK87AgC9WyxWfZKBFMtej55gj9Qs8d94=,KL0255983,SBA,SBPPS,1999-04-22,None,0
Message Type: <class 'str'>
Message: FtDcN60NxCHnK87AgC9Wy46XWn1vLmrBGKBpvKQwpOs=,KL0255984,SBA,SBPPS,1999-04-22,None,0
Message Type: <class 'str'>
Message: tSvhbUmKvtWBJS3xMkGtRGXq84ofbfeMwP81FvwgyzM=,KL0255990,SBA,SBPPS,1999-05-26,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvSMp+0JvUEX5knPXR8X+gvA=,PB2122003,SBA,SBSTF,2010-02-16,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvaW3zKZof0nAqt6ytzmYlH4=,PB2127846,SBA,SBSTF,2010-04-01,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvdgJssMN+kHLNpXms1cW9N4=,PB2169679,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvTWOnc3L4PnCpk4M1vZt1Os=,PB2169686,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvcPjOY1woryqdEzbk2KTsZg=,PB2169693,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvdpsVPN4G/uEuPQNt1rzeGM=,PB2169703,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvRJLG9BtLZt74CQZPdisYGw=,PB2169706,SBA,SBGUR,2011-02-14,None,0
Message Type: <class 'str'>
Message: BU0AUp8z3pEPZyhn+BXesFFOXXzLpzCFD0ruSbiZk7Y=,KL0256282,SBA,SBPPS,2002-05-22,None,0
Message Type: <class 'str'>
Message: 1602vWGodLstZZS68oBaxBWfZKBFMtej55gj9Qs8d94=,KL0256453,SBA,SBNCS,2003-09-12,None,0
Message Type: <class 'str'>
Message: 1602vWGodLstZZS68oBaxJJPf6MTWIf+3pVCi/uDj3w=,KL0256457,SBA,SBPPS,2003-09-12,None,0
Message Type: <class 'str'>
Message: NYdt0gbIROtIElWrR5NIMRWfZKBFMtej55gj9Qs8d94=,KL0256463,SBA,SBPPS,2003-09-12,None,0
Message Type: <class 'str'>
Message: vhineBM6biA0WuIezqqLiZJPf6MTWIf+3pVCi/uDj3w=,KL0253397,SBA,SBANU,1991-02-13,None,0
Message Type: <class 'str'>
Message: stICszBOq+Ou3Vbm+GZLfyrTDjidUT1+AGjniSpfgHM=,KL0255715,SBA,SBGUR,1997-02-04,None,0
Message Type: <class 'str'>
Message: stICszBOq+Ou3Vbm+GZLf1U78SwdSDGmCdZQ2GwRpAw=,KL0255716,SBA,SBGUR,1997-02-04,None,0
Message Type: <class 'str'>
Message: BYQUoQgupx9X5UsuZ4Xc/fLcy/h4Kiaej9IbTGRMYjI=,KP2511802,SBA,SBSTF,2017-12-28,None,0
Message Type: <class 'str'>
Message: BYQUoQgupx9X5UsuZ4Xc/aeo6Sqet6wzqiVMOz0Zqz0=,KP2534243,SBA,SBSTF,2018-05-22,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvSb4uyYbVUPlVJXfF1qrhck=,PB2169720,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvcxLVpBxM6npf3GkBE+2BUg=,PB2169737,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvSHvvEA3tlcq56IVKRg60xQ=,PB2169754,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvYDfqXAalxcXCXk189aFO8A=,PB2169755,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: 93f4EOW+S5XKAOXowAVqvUQBiTpn/Xup+Es8VgyfrsQ=,PB2169759,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: Ze8gQTGAPsmbWP/llIBzCIDayQqpxGqFZNEUsOfU7Mc=,PB2169775,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: Ze8gQTGAPsmbWP/llIBzCD4CWtVvcOPbf2NMJHAochM=,PB2169796,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: Ze8gQTGAPsmbWP/llIBzCLWtpWlTh1mOjeYoOlyxcJo=,PB2169809,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: Ze8gQTGAPsmbWP/llIBzCJPN175gqllN1diWCOHyKuw=,PB2169818,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: Ze8gQTGAPsmbWP/llIBzCNnuDisRxI/9Ax5OXwynTEs=,PB2169826,SBA,SBSTF,2011-02-14,None,0
Message Type: <class 'str'>
Message: Ze8gQTGAPsmbWP/llIBzCBiWqb2BRBKRDD5WPQd9jho=,PB2211769,SBA,SBSTF,2011-12-26,None,0
Message Type: <class 'str'>
Message: Ze8gQTGAPsmbWP/llIBzCMNrJd/8b6zjE/dn8WLH524=,KP2256346,SBA,SBSTF,2012-12-31,None,0
Message Type: <class 'str'>
Message: qqjC6QanEZCeIWTsFrIiALWtpWlTh1mOjeYoOlyxcJo=,KP2256451,SBA,SBSTF,2012-12-31,None,0
Message Type: <class 'str'>
Message: qqjC6QanEZCeIWTsFrIiANpsVPN4G/uEuPQNt1rzeGM=,KP2263925,SBA,SBSTF,2013-04-01,None,0
Message Type: <class 'str'>
Message: qqjC6QanEZCeIWTsFrIiAD9NnQzokpuHDctlEiOpQFs=,KP2304680,SBA,SBSTF,2014-04-03,None,0
Message Type: <class 'str'>
Message: qqjC6QanEZCeIWTsFrIiANk0VMLM57I+eFB4s5/1T3E=,KP2367195,SBA,SBGUR,2015-07-05,None,0
Message Type: <class 'str'>
Message: ZJ5exCKmN6soAMkY7gc3ItgJssMN+kHLNpXms1cW9N4=,KP2418165,SBA,SBSTF,2016-05-23,None,0
Message Type: <class 'str'>
Message: ZJ5exCKmN6soAMkY7gc3IutHxSvKR96pO1+v6ftq/74=,KP2467840,SBA,SBSTF,2017-03-02,None,0
Message Type: <class 'str'>
Message: ZJ5exCKmN6soAMkY7gc3Iqeo6Sqet6wzqiVMOz0Zqz0=,KP2476979,SBA,SBSTF,2017-04-28,None,0
Message Type: <class 'str'>
Message: 1yHIrrm8aQdp/+l+nGxZQ9psVPN4G/uEuPQNt1rzeGM=,KP2479940,SBA,SBSTF,2017-05-22,None,0
Message Type: <class 'str'>
Message: 1yHIrrm8aQdp/+l+nGxZQ8xLVpBxM6npf3GkBE+2BUg=,KP2493425,SBA,SBSTF,2017-08-22,None,0
Message Type: <class 'str'>
Message: 3GkrNXAisvYgmRISs8KT+FFOXXzLpzCFD0ruSbiZk7Y=,KL0272282,SBA,SBSTF,2004-09-29,None,0
Message Type: <class 'str'>
Message: EagYGuEvo/5rrOeYfsNlt1U78SwdSDGmCdZQ2GwRpAw=,KL0272306,SBA,SBSTF,2004-09-23,None,0
Message Type: <class 'str'>
Message: sUtZ3l/lW/Ak1vjozqaeg1U78SwdSDGmCdZQ2GwRpAw=,KL0272386,SBA,SBSTF,2004-09-24,None,0
Message Type: <class 'str'>
Message: umGEjR0qcMVfPEJupN9WkY6XWn1vLmrBGKBpvKQwpOs=,KL0272394,SBA,SBSTF,2004-09-24,None,0
Message Type: <class 'str'>
Message: iFBLFMy44Zgar+cm+dLBcJJPf6MTWIf+3pVCi/uDj3w=,KL0272407,SBA,SBSTF,2004-09-23,None,0