In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gandaki.csv')
df.columns

C:\Windows\Temp\ipykernel_16444\614370253.py:1: DtypeWarning: Columns (0,1,3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('gandaki.csv')

Index(['सि.नं.', 'मतदाता नं', 'मतदाताको नाम', 'उमेर (वर्ष)', 'लिङ्ग',
       'पति/पत्नीको नाम', 'पिता/माताको नाम', 'विवरण'],
      dtype='object')

In [3]:
df.head()

,सि.नं.,मतदाता नं,मतदाताको नाम,उमेर (वर्ष),लिङ्ग,पति/पत्नीको नाम,पिता/माताको नाम,विवरण
0,1,25502821,अक्कल बहादुर कुंवर,52,पुरुष,सिता,नर बहादुर/ राम देवी,NaN
1,2,24566013,अक्षय अधिकारी,21,पुरुष,-,बालाराम अधिकारी / लक्ष्मी सुवेदी अधिकारी,NaN
2,3,20739424,अगने कामी,62,पुरुष,गुमा,नन्द विर/ पुर्ण,NaN
3,4,7942632,अगन्धर दाहाल,72,पुरुष,धनु माया,गोपि लाल/ डम्मर कुमारी,NaN
4,5,7943081,अगन्धर सुनार,66,पुरुष,मिठी,गंगे / हर्कली,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1644037 entries, 0 to 1644036
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   सि.नं.           1644037 non-null  object
 1   मतदाता नं        1644037 non-null  object
 2   मतदाताको नाम     1644037 non-null  object
 3   उमेर (वर्ष)      1644037 non-null  object
 4   लिङ्ग            1644037 non-null  object
 5   पति/पत्नीको नाम  1642614 non-null  object
 6   पिता/माताको नाम  1644037 non-null  object
 7   विवरण            1 non-null        object
dtypes: object(8)
memory usage: 100.3+ MB

### Preprocessing

In [5]:
df = df.drop('विवरण', axis=1)

In [6]:
df.rename(columns={'सि.नं.': 'S. N.', 'मतदाता नं': 'Voter ID', 'मतदाताको नाम': 'Voter\'s Name', 'उमेर (वर्ष)': 'Age (Years)', 
'लिङ्ग': 'Gender', 'पति/पत्नीको नाम': 'Husband/Wife\'s Name', 'पिता/माताको नाम': 'Father/Mother\'s Name'}, inplace=True)

In [7]:
gender_map = {'पुरुष': 'male', 'महिला': 'female'} 

df['Gender'] = df['Gender'].map(gender_map)

In [8]:
df = df.head()

### Google Trans

- Too slow, alternative is translate on Google Sheet

In [9]:
# !pip install googletrans==4.0.0-rc1

In [10]:
# !pip install googletrans --upgrade

In [11]:
import pandas as pd
from googletrans import Translator

translator = Translator()

def translate_to_english(text):
  if pd.isna(text):  
    return "" 
  try:
    translation = translator.translate(text, dest='en').text
    return translation
  except Exception as e:
    print(f"Error translating {text}: {e}")
    return text  # Return original text in case of errors

# cols_to_translate = ['मतदाताको नाम', 'पति/पत्नीको नाम', 'पिता/माताको नाम']
cols_to_translate = ['Voter\'s Name', 'Husband/Wife\'s Name', 'Father/Mother\'s Name']

for col in cols_to_translate:
  df[col] = df[col].apply(translate_to_english)

df

,S. N.,Voter ID,Voter's Name,Age (Years),Gender,Husband/Wife's Name,Father/Mother's Name
0,1,25502821,Akkal Bahadur Kunwar,52,male,Attachment,Male Bahadur/ Ram Devi
1,2,24566013,Renewable officer,21,male,-,Balaram Officer / Lakshmi Suvedi Officer
2,3,20739424,Agne kami,62,male,Guma,Nande Rain and Sagan
3,4,7942632,Previousness Dahal,72,male,Dhanu Maya,Goop Red / Famper Virgin
4,5,7943081,Agile gold,66,male,Hug,Gange / Harkali